 <div id="book_show">

	<div id="breadcrumb">
		<%= link_to books_path do %>
			All Books
			<span>/</span>
		<% end %>
			<%= @book.title %>
	</div>

	<div id="page_show">
			<%= image_tag @page.thumbnail.url(:large) %>
			<h2><%= @page.description %></h2>
	</div>
</div>

		<%= will_paginate @pages, previous_label: "上一页", next_label: "下一页" %>
