 <div id="book_show">

	<div id="breadcrumb">
		<%= link_to books_path do %>
			All Books
			<span>/</span>
			<%= @book.title %>
			<span>/</span>
			<%= @page.id %>
		<% end %>
	</div>

	<div id="page_content">
		<div class="wrapper_wide">
			<%= image_tag @page.thumbnail.url(:large), class: "current_page_thumbnail" %>
			<h2><%= @page.description %></h2>
		</div>
	</div>
</div>

		<%= will_paginate @pages, previous_label: "上一页", next_label: "下一页" %>
