<div id="book_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @book.title %></h1>
			<p class="description"><%= @book.description %></p>
		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to book_path do %>
			All Books
			<span>/</span>
			<%= @book.title %>
		<% end %>
	</div>

		<% @pages.each do |page| %>
			<div id="page_show">
				<%= image_tag page.thumbnail.url(:large) %>
				<h2><%= page.description %></h2>
			</div>
		<% end %>

<%= will_paginate @pages, previous_label: "上一页", next_label: "下一页" %>
</div>