<div id="book_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @book.title %></h1>
			<p class="description"><%= @book.description %></p>
		</div>
	</div>

	<div id="breadcrumb">
		<%= link_to book_path do %>
			All Books
			<span>/</span>
			<%= @book.title %>
		<% end %>

		<div id="books">
			<div class="wrapper_skinny">
				<ul class="cf">
					<% @pages.each do |page| %>
						<li class="cf">
							<div class="episode_thumbnail">
								<a href="#">
									<%= image_tag page.thumbnail.url(:large) %>
								</a>
							</div>
							<div class="episode_overview">
								<h2><%= link_to page.description, book_page_path(@book, page) %></h2>
								<br>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div>

</div>

